// $main-blue: #0f2862;
// $main-blue: #0e1e25;
// $main-gray: #4f5f76;
// $main-red: #e14658;

// LIGHT THEME
// $warm-gray: #cdcdcd;

// DARK THEME
// $muted-black: #0b0c10;
// $dark-gray: #1f2833;
// $light-gray: #c5c6c7;
// $sharp-blue: #66fcf1;

// $sunset: #985e6d;
$stormy: #416a99;

// ! being used;

$ice-blue: #99d3df;
$water-blue: #88bbd6;
$bright-orange: #f0980f;

$ice-gray: #f8f7f7;
$soft-white: #fcfcfc;
$dark-gray: #636368;
$green-blue: #3e8491;

$warm-pink: #c49cab;
$sun-orange: #e7c3a4;
$bg-color: $soft-white;

// TEXT
$light-text-color: $soft-white;
$text-color: $dark-gray;
$header-color: $dark-gray;

%header-styles {
   font-family: "Barlow Condensed", sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   // color: $header-color;
}

%selection-style {
   color: $soft-white;
   background: $green-blue;
}

%list-style {
   display: flex;
   margin-bottom: 5rem;

   &::before {
      content: "\2022";
      color: $green-blue;
      font-weight: bold;
      display: inline-block;
      width: 2rem;
      margin-left: -1em;
   }

   p {
      padding-left: 15rem;
   }
}

@function set-header-color($bg-color) {
   @if (lightness($color) > 70) {
      @return $muted-black;
   } @else {
      @return $soft-white;
   }
}

@mixin orange-dot($size) {
   width: $size;
   height: $size;
   background: $bright-orange;
   border-radius: 50%;
}

@mixin flex-container($justify, $align, $direction: row) {
   width: 100%;
   display: flex;
   justify-content: $justify;
   align-items: $align;
   flex-direction: $direction;
}

%flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin scrollbars(
   $size,
   $foreground-color,
   $background-color: mix($foreground-color, white, 50%)
) {
   // For Google Chrome
   &::-webkit-scrollbar {
      width: $size;
      height: $size;
   }

   &::-webkit-scrollbar-thumb {
      background: $foreground-color;
   }

   &::-webkit-scrollbar-track {
      background: $background-color;
   }

   // For Internet Explorer
   & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
   }
}
