@import "../styles/config";

#contact-page {
   position: relative;
   overflow: hidden;

   .content {
      div,
      form {
         margin: auto;
      }

      h2,
      h3,
      h5 {
         text-align: center;
         margin: auto;
         color: darken($green-blue, 10%);
      }

      .title-text {
         @include flex-container(center, center);
         flex-direction: column;
         padding: 4vh 20vw;
         background: darken($green-blue, 10%);

         h2,
         h3,
         .icon {
            color: $soft-white;
         }

         .icon:hover {
            color: $bright-orange;
         }

         h2 {
            letter-spacing: 5rem;
         }

         h3 {
            margin-bottom: 1vh;
         }
      }
   }

   .details {
      padding-top: 4vh;
      width: calc(min(400rem, 70vw));

      h3 {
         text-transform: initial;
         margin: 1vh 0;
      }

      a {
         text-decoration: underline;

         &:hover {
            color: $bright-orange;
         }
      }
   }

   form {
      width: calc(min(600rem, 80vw));

      textarea,
      input {
         width: 100%;
         padding: 1vh;
         font-family: inherit;
         font-size: 18rem;
         font-weight: 400;
         margin: 10rem 0;
         letter-spacing: 1rem;
         outline: none;
         border: none;
         border-bottom: 1rem solid rgba($text-color, 0.5);
         background: none;
      }

      input {
         border: none;
         border-bottom: 1rem solid rgba($text-color, 0.5);
      }

      button {
         background: darken($green-blue, 10%);
         color: $soft-white;
         width: 70%;
         padding: 5rem;
         margin: 2vh 20%;

         &:hover {
            font-weight: 500;
            color: darken($text-color, 20%);
            background: $bright-orange;
         }
      }
   }

   .ice-city-container {
      position: absolute;
      z-index: -1;
      bottom: -25vw;
      width: 50%;
      height: 50vw;
      background: linear-gradient(
            0.45turn,
            $moon-yellow 20%,
            darken($water-blue, 5%),
            darken($green-blue, 30%) 55%
         )
         no-repeat;

      background-size: fill;
      mask: url("../assets/SVG/iceberg-up.svg") no-repeat;
   }
}
