@import "../styles/config";

#contact-page {
   position: relative;
   overflow: hidden;
   margin-top: 5vh;
   height: 100vh;
   @include flex-container(flex-start, center);
   flex-direction: column;

   .text-content {
      h2,
      h3,
      h5 {
         text-align: center;
         margin: auto;
         color: darken($green-blue, 10%);
      }

      .title-text {
         padding: 4vh 20vw;
         background: darken($green-blue, 10%);

         h2,
         h3,
         .icon {
            color: $soft-white;
         }

         .icon:hover {
            color: $bright-orange;
         }

         h2 {
            letter-spacing: 5rem;
            margin: 3vh 0;
         }

         h3 {
            margin-bottom: 3vh;
         }
      }
   }

   .details {
      padding-top: 4vh;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200rem, 1fr));
      width: 60vw;

      .nav-socials {
         backdrop-filter: blur(10rem);
      }
   }

   .contact-bg {
      height: 50vh;
      width: 100%;
   }

   .cityscape {
      position: absolute;
      z-index: -4;
      bottom: -4vh;
      width: 80vw;
      max-width: 800rem;
      height: 60%;
      background: linear-gradient(
            0.45turn,
            $moon-gray 30%,
            $midnight-purple 50%,
            darken($water-blue, 10%) 80%,
            darken($green-blue, 30%) 95%
         )
         no-repeat;

      background-size: cover;
      mask: url("../assets/SVG/cityscape.svg") no-repeat;
      mask-size: 100%;
      mask-position: bottom;
      opacity: 0.7;
   }

   &::after {
      display: inline-block;
      position: absolute;
      z-index: -5;
      top: 50vh;
      left: 35vw;
      content: "";
      @include orange-dot(calc(max(2.5vw, 20rem)));
      background: rgba($moon-gray, 0.8);
   }
}
