@import "../styles/config";

.home {
   //    border: 1rem solid red;

   position: relative;
   padding: 10vh 7vw;

   span,
   h3,
   h6 {
      color: darken($green-blue, 20%);
   }
}

.bg-image {
   position: absolute;
   @include flex-container(center, center);
   width: calc(max(75vh, 35vw));
   height: calc(max(75vh, 35vw));
   border: 1rem solid $green-blue;
   border-radius: 50%;
   overflow: hidden;
}

.ice-city-container {
   // position: absolute;
   // bottom: -6vh;
   // margin: 0 0 0 10vw;
   position: absolute;
   left: 5%;
   height: 80%;
   width: 100%;

   // min-width: 400rem;
   // height: 100vh;

   background: linear-gradient(
         lighten($ice-blue, 10%) 30%,
         $stormy,
         darken($water-blue, 10%) 60%
      )
      no-repeat;

   background-size: cover;

   mask: url("../assets/SVG/iceberg.svg") no-repeat;
}
.water {
   position: absolute;
   top: 45%;
   // bottom: 0;
   // width: 100vw;
   width: 100%;
   height: 150%;
   transition: opacity 0.7s ease-in-out;
   background: linear-gradient(
      transparent,
      lighten($ice-blue, 10%) 1%,
      darken($water-blue, 5%)
   );
}

.home-text {
   // border: 1rem solid red;
   background: $soft-white;
   position: absolute;
   top: 5vh;
   left: 40vw;
   width: calc(max(50vw, 200rem));
   height: calc(max(85vh, 40vw));
   padding: 20vh 10rem 0;
   border-left: 2rem solid lighten($green-blue, 30%);

   .main-text {
      @include flex-container(space-between, flex-start);
      height: 60%;

      > div {
         width: 100%;
         height: 100%;
      }

      h1 {
         font-weight: 500;
         color: $green-blue;
      }

      h2,
      h3 {
         text-transform: initial;
      }

      h5 {
         color: $text-color;
      }

      p {
         margin: 2vh 0;
         width: 70%;

         span {
            letter-spacing: 1rem;
            font-weight: 600;
         }
      }

      span {
         color: darken($green-blue, 10%);
      }

      .headers {
         padding-right: 15rem;
         text-align: right;
         border-right: 1rem solid lighten($green-blue, 30%);
      }

      .subheading {
         position: relative;
         padding-left: 15rem;
         border-left: 1rem solid lighten($green-blue, 30%);

         h2:first-child {
            margin-top: 38%;
         }
      }
   }

   .link-container {
      margin-top: 30rem;
      position: relative;
      height: 30%;
   }

   .arrow-down {
      > div {
         position: relative;
         z-index: 5;
         width: 2vw;
         height: 100%;
      }
   }

   .arrow-down,
   ul {
      @include flex-container(flex-start, center);
      position: absolute;
      top: 0;
      flex-direction: column;
      height: 100%;

      .icon {
         width: 100%;
         height: 100%;

         &:nth-child(1) {
            color: lighten($green-blue, 5%);
         }

         &:nth-child(2) {
            color: $green-blue;
         }

         &:nth-child(3) {
            color: darken($green-blue, 10%);
         }
      }
   }

   li {
      height: 100%;
      @include flex-container(flex-start, center);
      padding-left: 10%;
   }

   .description {
      height: 45vh;
      padding: 0 2vw 0 8vw;
      color: darken($green-blue, 10%);

      h3 {
         padding: 15rem 0;
      }

      p {
         width: 80%;
      }
   }
}

.scroll-container {
   @include flex-container(center, center);
   position: absolute;
   bottom: 0;
   height: 30rem;
   width: 100%;
}
