@import "../styles/config";

#home-page {
   margin: 0 0 10vh;
   display: flex;
   align-items: center;
   position: relative;

   span,
   h3,
   h6 {
      color: darken($green-blue, 20%);
   }

   .bg-image {
      position: absolute;
      left: 12vw;
      @include flex-container(center, center);
      width: calc(max(60vh, 25vw));
      height: calc(max(60vh, 25vw));
      // border: 1rem solid $green-blue;
      border-radius: 50%;
   }

   .city-container {
      overflow: hidden;
   }

   .ice-city-container {
      position: absolute;
      left: 2.5%;
      height: 80%;
      width: 100%;

      // min-width: 400rem;
      // height: 100vh;

      // background: linear-gradient(
      //       lighten($ice-blue, 10%) 30%,
      //       $stormy,
      //       darken($water-blue, 10%) 60%
      //    )
      //    no-repeat;

      background-size: cover;

      background: linear-gradient(
            -0.45turn,
            $sun-orange 20%,
            $warm-pink 30%,
            $ice-blue 50%,
            darken($water-blue, 20%) 60%
         )
         no-repeat;

      mask: url("../assets/SVG/iceberg.svg") no-repeat;
   }
   .water {
      position: absolute;
      top: 45%;
      // bottom: 0;
      // width: 100vw;
      width: 100%;
      height: 150%;
      transition: opacity 0.7s ease-in-out;
      background: linear-gradient(
         rgba($sun-orange, 0.7),
         lighten($ice-blue, 10%) 10%,
         darken($water-blue, 5%)
      );
   }

   .sun-container {
      z-index: 1;

      .sun {
         position: absolute;
         top: -5vw;
         @include orange-dot(calc(max(5vw, 30rem)));
      }
   }

   .circle-border {
      position: absolute;
      left: 32vw;
      width: calc(max(54vw, 300rem));
      height: calc(max(54vw, 300rem));
      border-right: 1rem solid rgba($green-blue, 0.7);
      border-bottom: 1rem solid rgba($green-blue, 0.7);
      border-radius: 50%;
      background: $soft-white;
      transform: rotate(30deg);
   }

   .home-text {
      // border: 1rem solid red;
      // background: $soft-white;
      position: absolute;
      left: 35vw;
      width: calc(max(55vw, 250rem));
      height: calc(max(65vh, 36vw));
      padding: 3vh 0 0 1vw;
      // border-left: 2rem solid lighten($green-blue, 30%);
      // display: flex;

      // .left-border {
      //    position: absolute;
      //    width: 10vw;
      //    height: 100%;
      // }

      .main-text {
         // @include flex-container(space-between, flex-start);
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: 1fr 1fr 2fr 2fr;
         position: relative;

         height: 100%;

         > div {
            width: 100%;
            height: 100%;
         }

         .border {
            position: relative;
            grid-area: 1 / 1 / 3 / 2;
            width: 100%;
            height: 100%;
            border-right: 2rem solid lighten($green-blue, 30%);
         }
         .headers {
            // border: 1rem solid green;
            grid-area: 1 / 1 / 2 / 2;
            padding: 0 2.5vw 0 0;
            text-align: right;
            // border-right: 1rem solid lighten($green-blue, 30%);

            // h1 {
            //    letter-spacing: 5rem;
            // }
         }

         .subheading {
            grid-area: 2 / 2 / 3 / 3;
            position: relative;
            padding-left: 2.5vw;

            h2:last-child {
               @include flex-container(flex-start, baseline);
            }

            .period {
               width: 0.5vw;
               height: 0.5vw;
               margin-left: 4rem;
               border-radius: 50%;
               background: $bright-orange;
            }
         }

         .blurb {
            grid-area: 3 / 1 / 4 / 3;
            padding: 0 11vw 0 1vw;
            @include flex-container(center, center);
            text-align: center;

            p {
               font-size: calc(max(1.2vw, 20rem));
               width: 90%;
               color: darken($text-color, 20%);
            }
         }

         h1 {
            font-weight: 500;
            color: $green-blue;
         }

         h2,
         h3 {
            text-transform: initial;
         }

         h5 {
            color: $text-color;
         }

         // p {
         //    margin: 2vh 0;
         //    width: 70%;

         //    span {
         //       letter-spacing: 1rem;
         //       font-weight: 600;
         //    }
         // }

         span {
            color: darken($green-blue, 10%);
         }
      }

      .link-container {
         grid-area: 4 / 1 / 5 / 3;
         // margin-top: 30rem;
         position: relative;
         height: 100%;
      }

      // .arrow-down

      //    > div {
      //       position: relative;
      //       z-index: 5;
      //       width: calc(max(1.6vw, 16rem));
      //       height: 100%;
      //    }
      // }

      a {
         display: flex;
         align-items: center;
         width: 100%;

         .arrow {
            width: 1.8vw;
            height: fit-content;
            position: absolute;
            left: 50%;
         }
      }

      // .arrow-down,
      ul {
         @include flex-container(baseline, center);
         position: absolute;
         flex-direction: column;
         // height: 100%;

         svg.icon {
            width: 100%;
            height: 100%;
            color: $green-blue;
         }
      }

      li {
         height: 100%;
         @include flex-container(flex-start, center);
         // height: 30rem;
         padding: 2.5vh 0 0 4vw;
      }

      li:nth-child(2) {
         padding: 2.5vh 0 0 6vw;
      }

      li:nth-child(3) {
         padding: 2.5vh 0 0 8vw;
      }
   }

   .scroll-container {
      @include flex-container(center, center);
      position: absolute;
      bottom: 0;
      height: 30rem;
      width: 100%;
   }
}
