@import "../styles/config";

nav {
   position: absolute;
   z-index: 99;
   height: 5vh;
   padding: 0 4vw;
   @include flex-container(space-between, center);
   text-transform: uppercase;
   background: rgba($green-blue, 0.9);
}

.logo {
   height: 15rem;
}

.page-nav-links {
   display: flex;

   li {
      @include flex-container(center, center);

      height: 25rem;
      margin: 0 15rem;

      &:hover {
         text-decoration: underline;
      }

      a {
         color: white;
      }
   }

   .resume-btn {
      background: darken($green-blue, 10%);
   }
}

h6 {
   font-size: 14rem;
}

.menu {
   display: none;
}

// ==  MOBILE DISPLAY ==
@media (max-width: 540px) {
   nav {
      position: fixed;
   }

   .page-nav-links {
      position: absolute;
      top: -300rem;
      left: 0;
      flex-direction: column;
      width: 100%;
      opacity: 0;
      transition: all 1s;
      background: rgba($green-blue, 0.85);

      li {
         margin: 0;
      }

      &.open {
         top: 5vh;
         opacity: 1;
      }
   }

   .menu {
      @include flex-container(center, center);
      height: 100%;
      width: 30rem;

      .menu-btn {
         position: absolute;
      }

      .icon {
         color: $soft-white;
      }
   }
}
