@import "../styles/config";

.nav-btn {
   border-radius: 15rem;
   @include flex-container(center, center);
   flex-direction: column;
   text-align: center;
   padding: 15rem 0;
   backdrop-filter: blur(10rem) opacity(0.6);

   &:hover {
      box-shadow: 0 8rem 15rem -3rem lighten($green-blue, 40%);
      transform: translateY(-2rem);
      backdrop-filter: blur(10rem) opacity(0.9);
   }

   .icon {
      margin: 2vh 0;
      color: rgba($green-blue, 0.8);
      width: 1.7vw;
      min-width: 30rem;
      min-height: 25rem;
      height: 1.7vw;
   }
}
