@import "../styles/config";

nav {
   position: absolute;
   z-index: 99;
   padding: 2vh 4vw;
   width: 100vw;
   @include flex-container(space-between, center);
   text-transform: uppercase;
   background: linear-gradient($soft-white, transparent);

   .logo {
      height: 15rem;
   }

   ul {
      display: flex;

      li {
         @include flex-container(center, center);

         height: 25rem;
         margin: 0 15rem;
      }
   }
}

h6 {
   font-size: 14rem;
}
