@import "../styles/config";

#nav-side-bar {
  @include flex-container(center, center);
  @extend %side-bar;
  flex-direction: column;
  right: 0;
  width: 6vw;
}

.orange-dot {
  @include orange-dot(15rem);
}

.page-nav {
  width: 30rem;

  li {
    border-bottom: 2rem solid lighten($green-blue, 30%);
    margin: 10rem 0;

    a {
      @include flex-container(center, center);
      position: relative;
      height: 35rem;
    }

    h6 {
      font-size: 12rem;
    }

    &:hover {
      border-bottom: 2rem solid $bright-orange;
    }
  }
}

@media (max-width: 845px) {
  #nav-side-bar {
    display: none;
  }
}
