@import "../styles/config";

@mixin bg-color($project-color, $piece) {
   @if $piece == pc4 {
      background: linear-gradient(to top, transparent, $project-color);
   } @else {
      background: linear-gradient(45deg, transparent, $project-color);
   }
}

// .yahtzee {
//    .pc1,
//    .pc2,
//    .pc3 {
//       @include bg-color($yahtzee-yellow, pc1);
//    }

//    .pc4 {
//       @include bg-color($yahtzee-yellow, pc4);
//    }
// }

// .rps {
//    .pc1,
//    .pc2,
//    .pc3 {
//       @include bg-color($rps-blue, pc1);
//    }

//    .pc4 {
//       @include bg-color($rps-blue, pc4);
//    }
// }

// .vue-bj {
//    .pc1,
//    .pc2,
//    .pc3 {
//       @include bg-color($vue-green, pc1);
//    }

//    .pc4 {
//       @include bg-color($vue-green, pc4);
//    }
// }

// .react-bj {
//    .pc1,
//    .pc2,
//    .pc3 {
//       @include bg-color($react-purple, pc1);
//    }

//    .pc4 {
//       @include bg-color($react-purple, pc4);
//    }
// }

.project-color {
   position: absolute;
   bottom: -400rem;
   height: 700rem;
   width: 500rem;
   transform: rotate(45deg);
   opacity: 0.5;
}

.pc2 {
   bottom: 0;
   left: 270rem;
   width: 100rem;
}

.pc3 {
   bottom: 0rem;
   left: 300rem;
}

.pc4 {
   transform: rotate(-45deg);
   bottom: 100rem;
   left: -400rem;
   width: 400rem;
}
