@import "../styles/config";

.project-panel {
   position: relative;
   height: 100%;
   width: 100%;
   padding: 5vh 0 0;
   // box-shadow: 20rem 0 40rem 1rem rgba(darken($bg-blue, 10%), 0.8);
   overflow: hidden;

   h1 {
      font-size: 60rem;
   }

   img {
      position: relative;
      z-index: 1;
      width: 100%;
      // box-shadow: 0 5rem 5rem 1rem rgba(darken($bg-blue, 10%), 0.3);
      margin-bottom: 10rem;
   }

   li {
      font-size: 14rem;
      font-weight: 300;
   }

   //    .title-text-box {
   //       position: absolute;
   //       z-index: 0;
   //       top: -5rem;
   //       left: -5rem;
   //       transform: rotate(45deg);
   //       height: 13vw;
   //       width: 13vw;
   //       border: 1rem solid rgba(255, 255, 255, 0.2);
   //    }

   .content {
      position: relative;
      z-index: 2;
      padding: 0 12rem;
   }

   .tech-links {
      @include flex-container(space-between, center);
      margin-bottom: 20rem;

      .link-icons {
         @include flex-container(flex-end, center);
      }

      .icons {
         width: 15rem;
         height: 15rem;
         margin: 0 5rem 0;
      }
   }

   .description {
      //   border: 1rem solid red;

      h5 {
         margin: 2vh 0;
      }

      ul {
         padding-left: 30rem;
      }
      li {
         list-style-type: circle;
         padding: 3rem 0 0;
         margin-bottom: 10rem;
      }
   }

   .title-square {
      position: absolute;
      top: -5%;
      left: -30%;
      opacity: 0.5;
   }

   .bg-lines {
      position: absolute;
      bottom: 20rem;
      left: 10rem;
      height: 80%;
      stroke: white;
      stroke-width: 1;
      stroke-linejoin: round;
      stroke-linecap: round;
      opacity: 0.2;
   }
}
