@import "../styles/config";

#projects-page {
   position: relative;
   width: 100vw;
}

.page-content {
   padding: 0 8vw;

   .header {
      // @include flex-container(flex-start, center);

      h1 {
         // font-size: calc(max(5vw, 24rem));
         padding-bottom: 5vh;
         color: $green-blue;
         padding-right: 2vw;
      }
   }

   .panel-container {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
   }

   .projects-container {
      display: grid;
      grid-template-columns: 2fr 5fr;

      .nav-links {
         .project-list {
            position: sticky;
            top: 0;
            left: 0;
            padding: 15vh 0;
            width: 250rem;

            .detail-options {
               margin-bottom: 20%;
               font-style: italic;
               color: $green-blue;

               h6 {
                  margin-bottom: 10rem;
                  cursor: pointer;
               }
            }
         }
      }

      .panel-container {
         @include flex-container(flex-start, flex-start, column);
      }
   }
}
