@import "../styles/config";

.panel {
   position: relative;
   height: 150rem;
   @include flex-container(space-between, flex-start);

   div {
      height: 100%;
   }

   h1,
   p,
   svg.icon {
      color: $green-blue;
      fill: $green-blue;
   }

   .project-details {
      position: relative;
      width: 100rem;
      // @include flex-container(flex-start, flex-start, column);

      h1 {
         font-size: 40rem;
         letter-spacing: 2rem;
         font-weight: 300;
         line-height: 70%;
         font-style: italic;
      }

      .divider {
         position: absolute;
         top: 15rem;
         left: 25rem;
         width: 0.5rem;
         height: 55%;
         transform: rotate(40deg);
         background: $text-color;
      }

      ul {
         position: absolute;
         padding-top: 5rem;
         height: 50%;
         bottom: 0;
         left: 20rem;

         p {
            font-size: 10rem;
         }
      }
   }

   .links {
      height: 120rem;
      width: 22rem;

      .ext-link {
         width: 9rem;
         height: 9rem;
      }
   }

   .project-desc {
      width: 100%;
      background: $ice-gray;
   }
}
