@import "../styles/config";

#projects-page {
   position: relative;
   width: 100vw;
}

.title-content {
   padding: 5vh 2vw;

   h1 {
      font-size: calc(min(18vh, 15vw));
   }
}

.panel-container {
   width: 80%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
}

.projects-container {
   display: grid;
   grid-template-columns: 1fr 3fr;
   height: 100vh;

   .nav-links {
      padding-top: 20vh;

      li {
         font-style: italic;

         h6:nth-child(2) {
            padding-left: 2vw;
         }
      }
   }

   .panel-container {
      @include flex-container(flex-start, flex-start, column);
   }
}
