@import "../styles/config";

.resume-btn {
  @include flex-container(center, center);
  position: relative;
  min-height: 25rem;
  border-radius: 2rem;
  padding: 5rem 20rem;
  background: $green-blue;
  color: $soft-white;
  margin: 0 auto;

  &:hover {
    background: darken($green-blue, 20%);
  }
}
