@import "../styles/config";

#socials-bar {
   // @include flex-container(flex-end, center);
   @extend %side-bar;
   left: 0;
   width: 4vw;

   ul {
      position: absolute;
      @include flex-container(space-between, center);
      flex-direction: column;

      li {
         margin-top: 10rem;

         .line {
            width: 1rem;
            height: 15vh;
            background: $green-blue;
         }
      }
   }
}
