@import "./styles/config";

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 6.25%;
   scroll-behavior: smooth;
}

body {
   width: 100vw;
   font-family: "Barlow Condensed", sans-serif;
   font-size: calc(max(1vw, 16rem));
   font-weight: 400;
   color: darken($text-color, 10%);
   background: $soft-white;
   overflow-x: hidden;
   // @include scrollbars(0, black, black);
}

span {
   font-weight: 500;
}

a {
   text-decoration: none;
   color: inherit;
}

%header-styles {
   font-family: "Barlow Condensed", sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   // color: $header-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   @extend %header-styles;
}

h1 {
   font-size: calc(max(6.5vw, 24rem));
   letter-spacing: 2rem;
}

h2 {
   font-size: calc(max(2vw, 16rem));
   color: $green-blue;

   span {
      text-transform: uppercase;
   }
}

h3 {
   font-size: calc(max(1.2vw, 18rem));
   text-transform: initial;
   font-weight: 300;
   color: darken($text-color, 30%);
   letter-spacing: 1rem;
}

h4 {
   font-size: 26rem;
}

h5 {
   letter-spacing: 1rem;
   font-size: calc(max(1.3vw, 16rem));
   font-weight: 500;
}

h6 {
   letter-spacing: 1rem;
   font-weight: 500;
}

li {
   list-style: none;
}

.App {
   width: 100vw;
   height: 100vh;
}

.page-container {
   display: flex;
   width: 400vw;
}

.page {
   width: 100vw;
   min-height: 100vh;
}

.no-display {
   display: none;
}
