@import "./styles/config";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
}

html {
  font-size: 6.25%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  font-family: "Barlow Condensed", sans-serif;
  font-size: calc(max(1vw, 16rem));
  font-weight: 400;
  color: darken($text-color, 10%);
  background: $soft-white;
  overflow-x: hidden;
  @include scrollbars(0, black, black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %header-styles;

  &::selection {
    @extend %selection-style;
  }
}

h1 {
  font-size: calc(max(5.5vw, 24rem));
  letter-spacing: 3rem;
  color: $green-blue;
}

h2 {
  font-size: calc(max(2.1vw, 16rem));
  color: $green-blue;

  span {
    text-transform: uppercase;
  }
}

h3 {
  font-size: calc(max(1.2vw, 18rem));
  text-transform: initial;
  font-weight: 300;
  color: darken($text-color, 30%);
  letter-spacing: 1rem;
}

h4 {
  font-size: calc(max(1.2vw, 16rem));
  text-transform: initial;
  color: $green-blue;
  font-style: italic;
}

h5 {
  letter-spacing: 1rem;
  font-size: calc(max(1.5vw, 16rem));
  font-weight: 500;
}

h6 {
  letter-spacing: 1rem;
  font-weight: 500;
  font-size: 18rem;
}

span {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}

input,
textarea,
span,
li,
p {
  &::selection {
    @extend %selection-style;
  }
}

svg.icon {
  color: $green-blue;
}

.no-display {
  display: none;
}

@media only screen and (max-width: 414px) {
  * {
    cursor: initial;
  }
}
